body{
    margin: 0;
    padding: 0;
}
$pri1:#2f2d52;
$pri2:#3e3c61;
$pri3:#5d5b8d;
$sec1:#7b96ec;
$sec2:#8da4f1;
$sec3:#a7bcff;
$alt:#ddddf7;

@mixin mobile{
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin laptop{
    @media screen and (max-width: 1200px) {
        @content;
    }
}

.formContainer{
    background-color: $sec3;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: $pri3;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color:$pri3;
            font-size: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid $sec3;
                &::placeholder{
                    color: rgb(175,175,175);
                }
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: $sec2;
                font-size: 12px;
                cursor: pointer;

                img{
                    width: 32px;
                }
            }
            button{
                background-color: $sec1;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
        }
        p{
            color: $pri3;
            font-size: 12px;
            margin-top: 10px;
        }
        .err{
            color:red;
        }
    }
}

.home{
    background-color: $sec3;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 0px solid white;
        border-radius: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        overflow: hidden;
        @include tablet{
            width: 100vw;
        }

        .sidebar{
            flex:1;
            background-color: $pri2;
            position: relative;
            
            .navbar{
                display: flex;
                align-items: center;
                background-color: $pri1;
                height: 10%;
                padding: .1rem .5rem;
                justify-content: space-between;
                color: $alt;
                .logo{
                    font-weight: bold;
                    @include tablet{
                        display: none;
                    }
                }
                .user{
                    display: flex;
                    gap: .5rem;
                    cursor: pointer;
                    padding: .1rem ;

                    img{
                        background-color: $alt;
                        height: 1.5rem;
                        width: 1.5rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        background-color: $pri3;
                        color: $alt;
                        font-size: 80%;
                        border: none;
                        cursor: pointer;
                        @include tablet{
                            position: absolute;
                            bottom: .7rem;
                        }
                    }
                }
            }
            .search{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding: .7rem;
                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                        &::placeholder{
                            color: lightgrey;
                        }
                    }
                }
                .err{
                    color:white;
                }
            }
            // .chats{
            //     overflow-y: scroll;
            //     min-height: 80%;
            //     &::-webkit-scrollbar{
            //         width: .3rem;
            //     }
            //     &::-webkit-scrollbar-track{
            //         background-color: $sec3;
            //     }
            //     &::-webkit-scrollbar-thumb{
            //         background-color: $alt;
            //         border-radius: 25px;
            //     }
            // }
            .userChat{
                padding:.5rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                color: white;
                cursor: pointer;
                
                &:hover{
                    background-color: $pri1;
                }
                img{
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .userChatInfo{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    max-width: 20rem;
                    // flex-direction: column;
                    .div1, .div2{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .div1{
                        align-items: flex-start;
                        min-width: 15vw;
                        span{
                            font-size: 1rem;
                            font-weight: 500;
                        } 
                        p{
                            margin-top: .5rem;
                            font-size: .8em;
                            color: lightgrey;
                            text-overflow: ellipsis; 
                            overflow: hidden;
                            text-wrap:nowrap;
                            width: 20vw;
                        }
                    }
                    .div2{
                        align-items: flex-end;
                        min-width: 11vw;
                        span{
                            font-size: .7em;
                            display: inline-block;
                        }
                        p{
                            font-size: .8rem;
                            height: auto;
                            border-radius: 50px;
                            padding: .1rem .3rem;
                            background-color: white;
                            color: $pri1;
                        }
                    }
                }
            }
        }
        .welcome{
            flex:2;
            background-color: $pri3;
            .welcomecontainer{
                margin: 1rem;
                height:95vh;
                // width: 55vw;
                @include tablet{
                    width: 90%;
                }
                background-color: white;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                color: $pri2;
            }
        }
        .chat{
            flex:2;

            .chatInfo{
                height: 10%;
                padding: .1rem .5rem;
                background-color: $pri3;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: lightgray;
                h3{
                    cursor: pointer;
                    padding: 1rem;
                }
            }
            .chatIcons{
                display: flex;
                gap: 1rem;
                margin-right: .5rem;
                img{
                    height: 1.5rem;
                    cursor: pointer;
                }
            }
            .messages{
                background-color: $alt;
                padding: .1rem .5rem;
                height: calc(80% - .5rem);
                overflow-y: scroll;
                &::-webkit-scrollbar{
                    width: .3rem;
                }
                &::-webkit-scrollbar-track{
                    background-color: $alt;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: $pri2;
                    border-radius: 25px;
                }
                .sayhello{
                    min-height: auto;
                    padding: 2rem 1rem;
                    justify-self: center;
                    align-self: center;
                    img{
                        height:18rem;
                        @include tablet{
                            height: 10rem;
                        }
                    }
                }
                .message{
                    display: flex;
                    gap: 1rem;
                    margin-bottom: 1rem;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        img{
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        .timestamp{
                            font-size: 0.8rem;

                        }
                    }
                    .messageContent{
                        max-width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        div{
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0 10px 10px 10px;
                            max-width: 28vw;
                            word-wrap: break-word;
                            position: relative;
                            .arrow{
                                position: absolute;
                                height: .8rem;
                                width: .8rem;
                                right: 0;
                                top: 0;
                                padding: .1rem;
                                cursor: pointer;
                                visibility: hidden;
                            }
                            p{
                                margin: 0;
                            }
                            img{
                                width: 10rem;
                            }
                        }
                        div:hover .arrow {
                            visibility: visible;
                        }
                    }
                    &.owner{
                        flex-direction: row-reverse;
                        .messageContent{
                            align-items: flex-end;
                            div{
                                background-color: $sec2;
                                color: white;
                                border-radius: 10px 0 10px 10px;
                            }
                        }
                    }
                }
            }
            .input{
                height: 10%;
                padding: .1rem .5rem;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input{
                    width: 100%;
                    border: none;
                    outline:none;
                    color: $pri1;
                    font-size: 18px;

                    &::placeholder{
                        color: lightgray;
                    }
                }

                .send{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img{
                        height: 24px;
                        cursor: pointer;
                    }

                    .button{
                        height: 30px;
                        cursor: pointer;
                        padding:10px 5px;
                        
                    }
                }
            }
        }
        .profile{
            flex:1;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: $pri3;
            border-right: .1rem solid $alt;
            gap: 2rem;
            overflow-y: scroll;
            overflow-x: hidden;
            position: relative;
            &::-webkit-scrollbar{
                width: .3rem;
            }
            &::-webkit-scrollbar-track{
                background-color: white;
            }
            &::-webkit-scrollbar-thumb{
                background-color: $pri2;
                border-radius: 25px;
            }
            .header{
                position: sticky;
                top: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 10%;
                width: calc(100% - 1rem);
                padding: .1rem .5rem;
                gap: 1rem;
                background-color: $pri2;
                color: $alt;
                .back{
                    cursor: pointer;
                    height: 1.5rem;
                }
                
            }
            .pic{
                background-color: $alt; 
                height: 10rem;
                // width: 70%;
                margin: 1rem;
                border: .1rem solid $alt;
                border-radius: 50%;
            }
            .display ,.about{
                color: $pri2;
                padding: 1rem;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                width: calc(100% - 2rem);
                box-shadow: .1rem;
                h3{
                    margin: 0.5rem; 
                }
                div{
                    display: flex;
                    width: calc(100% - 2rem);
                    margin: 1rem 0;
                    justify-content: space-between;
                    input{
                        font-size: 1.2rem;
                        border: none;
                    }
                    img{
                        height: 1.5rem;
                        cursor: pointer;
                    }
                }
            }
            .note{
                color: $alt;
                font-size: 1rem;
                margin: -1rem;
            }
        }
    }
}
/* Example CSS styles for the modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

  }
  
  .modal-content {
    position: relative;
    background-color: #717475;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .modal-content img {
    height: 70vh;
    width: 40vw;
    border-radius: 10px;
  }
  
  .modal-content button {
    font-size: larger;
    
    position: absolute; /* Position the close button absolutely */
    top: 10px; /* Adjust top positioning */
    right: 10px; /* Adjust left positioning */
    background-color: transparent; /* Make background transparent */
    border: none; /* Remove border */
    cursor: pointer;
    z-index: 1; /* Ensure the button stays above the image */
  }
  .camera-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Adjust as needed */
    width: 300px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding for better appearance */
  }
  .camera-capture {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .camera-capture video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure video covers the entire area */
  }
  
  
  